node_modules
yarn-error.log
build
dumps
.idea/workspace.xml
coverage
*.ols
.vscode
.DS_Store
.data
server/.gradle
server/out
workspace.xml
.idea/
config_prod.json
deploy/production-config.json
deploy/config.json
